$darkGrey: #171717;
$white: #eaeaef;
$yellow: #f9b234;
$light: #f6f7fb;
$blue: #1b2690;
$graySecondary: #808080;

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: $darkGrey;
  height: 80px;
  ul.navbar-nav {
    li.nav-item {
      margin: 10px;
      a {
        color: $white;
        text-transform: uppercase;
        font-weight: 300;
        &:hover {
          text-decoration: underline;
        }
        &.active {
          color: $yellow;
          font-weight: 500;
        }
      }
    }
  }
  .cart-wrapper {
    a {
      text-decoration: none;
      span {
        color: $yellow;
      }
    }
  }
}

.slider-banner {
  height: 450px;
  background-color: $darkGrey;
  color: $white;
  .slider-item-title {
    font-family: "Lora", sans-serif;
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 30px;
  }
  .slider-item-desc {
    font-weight: 300;
    font-size: 16px;
  }
  .btn-get-now {
    background-color: $yellow;
    color: $white;
    padding: 8px 34px;
    margin-top: 30px;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      background-color: $yellow;
    }
  }
}

.brands {
  padding: 70px;
}

.section_title {
  h2 {
    font-size: 22px;
    font-weight: 700;
    font-family: "Lora", serif;
    color: $blue;
    line-height: 24px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $graySecondary;
  }
}

.products {
  background-color: $light;
  padding: 48px;
  .product-wrapper {
    margin-top: 28px;
    figure {
      .figure-img {
        position: relative;
        a {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 8px;
          background-color: rgba(0, 0, 0, 0.7);
          opacity: 0;
          transition: opacity 0.3s;
          &:hover{
            opacity: 1;
          }
        }
      }
      .figure-caption {
        text-align: center;
        h4 {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: $darkGrey;
        }
        p {
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          color: $graySecondary;
        }
      }
    }
  }
}
