$darkGrey: #171717;
$white: #eaeaef;
$yellow: #f9b234;

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: $darkGrey;
  height: 80px;
  ul.navbar-nav {
    li.nav-item {
      margin: 10px;
      a {
        color: $white;
        text-transform: uppercase;
        font-weight: 300;
        &:hover {
          text-decoration: underline;
        }
        &.active {
          color: $yellow;
          font-weight: 500;
        }
      }
    }
  }
  .cart-wrapper {
    a {
      text-decoration: none;
      span {
        color: $yellow;
      }
    }
  }
}

.slider-banner {
  height: 450px;
  background-color: $darkGrey;
  color: $white;
  .slider-item-title {
    font-family: "Lora", sans-serif;
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 30px;
  }
  .slider-item-desc {
    font-weight: 300;
    font-size: 16px;
  }
  .btn-get-now {
    background-color: $yellow;
    color: $white;
    padding: 8px 34px;
    margin-top: 30px;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      background-color: $yellow;
    }
  }
}

.brands{
  padding: 70px;
}
