$darkGrey: #171717;
$white: #eaeaef;
$yellow: #f9b234;
$light: #f6f7fb;
$blue: #1b2690;
$graySecondary: #808080;
$borderGray: #d0d0d0;

body {
  font-family: "Poppins", sans-serif;
}

.section_title {
  h2 {
    font-size: 22px;
    font-weight: 700;
    font-family: "Lora", serif;
    color: $blue;
    line-height: 24px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $graySecondary;
  }
}

// Navbar
.navbar {
  background-color: $darkGrey;
  height: 80px;
  ul.navbar-nav {
    li.nav-item {
      margin: 10px;
      a {
        color: $white;
        text-transform: uppercase;
        font-weight: 300;
        &:hover {
          text-decoration: underline;
        }
        &.active {
          color: $yellow;
          font-weight: 500;
        }
      }
    }
  }
  .cart-wrapper {
    a {
      text-decoration: none;
      span {
        color: $yellow;
      }
    }
  }
}

// Slider
.slider-banner {
  height: 450px;
  background-color: $darkGrey;
  color: $white;
  .slider-item-title {
    font-family: "Lora", sans-serif;
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 30px;
  }
  .slider-item-desc {
    font-weight: 300;
    font-size: 16px;
  }
  .btn-get-now {
    background-color: $yellow;
    color: $white;
    padding: 8px 34px;
    margin-top: 30px;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      background-color: $yellow;
    }
  }
}

// Brands
.brands {
  padding: 70px;
}

// Products
.products {
  background-color: $light;
  padding: 48px;
  .product-wrapper {
    margin-top: 28px;
    figure {
      .figure-img {
        position: relative;
        a {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 8px;
          background-color: rgba(0, 0, 0, 0.7);
          opacity: 0;
          transition: opacity 0.3s;
          &:hover {
            opacity: 1;
          }
        }
      }
      .figure-caption {
        text-align: center;
        h4 {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: $darkGrey;
        }
        p {
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          color: $graySecondary;
        }
      }
    }
  }
}

// Designers
.designers {
  margin: 70px;
  figure {
    .img-wrapper {
      padding: 10px;
      border: 1px solid $borderGray;
      border-radius: 50%;
      display: flex;
      position: relative;
      &:hover {
        border: 1px solid $blue;
        transition: 0.3s;
      }
      img {
        margin: auto;
        &:hover {
          filter: drop-shadow(2px 4px 5px rgba(0, 0, 0, 0.25));
          transition: 0.3s;
        }
      }
      .verified {
        position: absolute;
        bottom: 10px;
        right: 0;
      }
    }
    .figure-caption {
      text-align: center;
      margin-top: 8px;
      h4 {
        font-weight: 500;
        font-size: 16px;
        color: $darkGrey;
      }
      p {
        font-weight: 400;
        font-size: 12px;
        color: $graySecondary;
      }
    }
  }
}

// Footer
footer {
  border-top: 1px solid $white;
  p {
    color: $graySecondary;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    a {
      color: $blue;
      font-weight: 500;
      text-decoration: none;
    }
  }
  .nav {
    a {
      color: $graySecondary;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      &:hover {
        color: $blue;
        font-weight: 400;
        transition: 0.3s;
      }
    }
  }
}

// Breadcrumbs
.breadcrumb {
  .breadcrumb-item {
    a {
      color: $blue;
      text-decoration: none;
    }
  }
}

// Product detail
.single-item-detail {
  figure {
    .thumbnail-wrapper-container {
      transform: translateY(-50px);
      background-color: white;
      box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
      a {
        &:hover {
          border: 1.5px solid $blue;
        }
      }
    }
  }

  .product-detail {
    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
    }
    P {
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: $graySecondary;
    }
    .button-action-wrapper {
      margin: 25px 0;
      .btn-decrement {
        background-color: #eaeaef;
        color: #fff;
      }
      .btn-increment {
        background-color: #f9b234;
        color: #fff;
      }
    }
    .btn-action {
      .btn-cart {
        background-color: $yellow;
        color: $light;
        padding: 10px 30px;
      }
      .btn-whislist {
        background-color: $light;
        color: $darkGrey;
        padding: 10px 30px;
      }
    }
    .designer {
      margin-top: 40px;
      padding-top: 25px;
      border-top: 2px solid $light;
      h4 {
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        color: #808080;
      }
      .designer-wrapper {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        padding: 4px;
        border: 1px solid $borderGray;
      }
      .designer-detail {
        margin-left: 10px;
        h3 {
          font-weight: 400;
          font-size: 16px;
          color: $darkGrey;
          margin: 0;
        }
        p {
          font-weight: 300;
          font-size: 12px;
          margin: 0;
          color: $blue;
          font-weight: 400;
          span {
            color: $graySecondary;
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  footer {
    p {
      font-size: 14px;
      text-align: center;
    }
    .nav {
      a {
        font-size: 12px;
        text-align: center;
      }
    }
  }
}
